body{
    max-width: 1000px;
    font-size: 1.5rem;
    margin: 50px auto ;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pun{
    margin-top: 0;
}

.colonnes{
    column-count: 3 ;
    column-rule-style:  double; 
    column-rule-color: blue;
    column-width: 200px;
    column-span: all;
}

